appdirs
asgiref
astroid
attrs
beautifulsoup4
black
bs4
certifi
chardet
click
cloudscraper
fastapi
flake8
h11
idna
importlib-metadata
iniconfig
isort
lazy-object-proxy
lxml
mccabe
mypy
mypy-extensions
packaging
pathspec
pluggy
py
pycodestyle
pydantic
pyflakes
pylint
pyparsing
pytest
regex
requests
requests-toolbelt
rope
soupsieve
starlette
toml
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3
uvicorn
wrapt
zipp
